<a href="https://colab.research.google.com/github/faspy/monty_python/blob/master/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Arithmetic Operators**

In [ ]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

**Comparison Operators**

In [ ]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

**Logical Operators**

In [ ]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

**Bitwise Operators**

Operator	Meaning	Example

#####&	Bitwise AND	x & y = 0 (0000 0000)
#####|	Bitwise OR	x | y = 14 (0000 1110)
#####~	Bitwise NOT	~x = -11 (1111 0101)
#####^	Bitwise XOR	x ^ y = 14 (0000 1110)
#####>>	Bitwise right shift	x >> 2 = 2 (0000 0010)
#####<<	Bitwise left shift	x << 2 = 40 (0010 1000)

**Assigment Operators**

Operator	    Example	Equivalent to
#####=	x     = 5	    x = 5
#####+=	x     += 5	  x = x + 5
#####-=	x     -= 5	  x = x - 5
#####*=	x     *= 5	  x = x * 5
#####/=	x     /= 5	  x = x / 5
#####%=	x     %= 5	  x = x % 5
#####//=x    //= 5	  x = x // 5
#####**=x    **= 5	  x = x ** 5
#####&=x     &= 5	    x = x & 5
#####|=	x    |= 5	    x = x | 5
#####^=	x    ^= 5	    x = x ^ 5
#####>>=x    >>= 5	  x = x >> 5
#####<<=x    <<= 5	  x = x << 5

**Special Operators**

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

**Membership Operators**

They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

**Variables assignment**

In [ ]:
var = 'felipe'
var = 'santos'

print('texto que estou escrevendo',var,'sdsadas',var)

texto que estou escrevendo santos sdsadas santos

In [ ]:
len(var)

6

**Manipulando strings e listas**

In [ ]:
str1 = var[0:]
str2 = var[1:4]
str3 = var[:2]
print(str1,str2,str3)

santos ant sa

In [ ]:
lista  = ['a','b','c']
lista
lista[0]
nested_list = ['a','b',['c','d',['e','f']]]

nl1 = nested_list[2][2][1]
nl2 = nested_list[0]

print(nl1,nl2)

f a

**Dictionaries**

Key value pairs. Different from lists and tuples it has a key.

In [ ]:
d = {'key1':'value','key2':123,'key':'CEP'}

In [ ]:
d['key1']

'value'

In [ ]:
d = {'k1':[1,2,3]}

In [ ]:
my_list = d['k1']
my_list[2]

3

In [ ]:
d = {'Nomes':{'Nome':'Felipe','Parentesco':['Paulo','Cristina','Paula']},'Endereco':{'CEP':12324,'cidade':'Santos'}}
pai = d['Nomes']['Parentesco'][0]
mae = d['Nomes']['Parentesco'][1]
irma = d['Nomes']['Parentesco'][2]

print(pai,mae,irma)

Paulo Cristina Paula

**Tuples vs List**

`A tuple cannot be changed by the user, different from a list`

In [ ]:
my_list = [1,2,3]
my_list[0] = 'NEW'
my_list

['NEW', 2, 3]

In [1]:
#o erro é esperado, pois estamos tratando de uma tupla (valores fixos) e não lista (valores mutáveis)
my_tuple = (1,2,3)
my_tuple[0] = 'NEW'
my_tuple

TypeError: ignored

**Sets: Collection of unique elements**

In [ ]:
s = {1,2,3}

In [ ]:
s.add(5)
s

{1, 2, 3, 5}

You can return unique elements in a function by using **set( )** function

In [ ]:
set([1,2,2,2,2,3,3,3,3])

{1, 2, 3}

**Conditions**

*IF, ELIF and ELSE*

In [ ]:
x=1

if x<2:
  print('lower than 2!')
elif x>2:
  print('greater than 2!')
else:
  print('equal')

lower than 2!

*FOR LOOPS*

In [ ]:
seq =[1,2,3,4]

for item in seq:
  print(item)

print('------------------------------')

for x in range(0,5):
  print(x)

print('------------------------------')

x=[]

for num in range(0,5):
  x.insert(num,2000+num)
print('o número escolhido foi:',x[4])

for num in range(0,5):
  x.append(num)
print('o número escolhido foi:',x[6])
print(x)

print('------------------------------')

list(range(10))

1
2
3
4
------------------------------
0
1
2
3
4
------------------------------
o número escolhido foi: 2004
o número escolhido foi: 1
[2000, 2001, 2002, 2003, 2004, 0, 1, 2, 3, 4]
------------------------------

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*WHILE LOOPS*

In [ ]:
i=1

while i<=5:
  print('i is: {}'.format(i))
  i += 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

**LIST COMPREEHENSION**

In [ ]:
[num**2 for num in range(5)]

[0, 1, 4, 9, 16]

**FUNCTIONS**

In [ ]:
def my_func (name='Default Name'):
  print('Hello '+ name)

my_func()
my_func('Felipe')

Hello Default Name
Hello Felipe

In [ ]:
def square(num):
  """
  THIS IS A DOCSTRING.
  CAN GO MULTIPLE LINES.
  THIS FUNCTION SQUARES A NUMBER.
  """
  return num**2

square(2)

4

**MAP FUNCTION**

In [ ]:
def times2(var):return var*2
seq = [1,2,3,4,5]

In [ ]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [ ]:
t = lambda var:var*2
t(2)

4

In [ ]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [ ]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

**METHODS**

In [ ]:
S = 'Hello my name is Felipe'

In [ ]:
S.lower()
S.split()[1]

'my'

In [ ]:
d={'k1':1, 'k2':2}

In [ ]:
print(d.keys())
print(d.items())
print(d.values())

dict_keys(['k1', 'k2'])
dict_items([('k1', 1), ('k2', 2)])
dict_values([1, 2])

In [ ]:
lst = [1,2,3]
lst.pop()

3

In [ ]:
lst.pop(1)

2

In [ ]:
lst

[1]

In [ ]:
lst.append('new')

In [ ]:
lst

[1, 'new']

In [ ]:
1 in [1,2,3]

True

In [ ]:
x = [(1,2),(2,3),(5,6)]

In [ ]:
for var in x:
  print(var)

(1, 2)
(2, 3)
(5, 6)

In [ ]:
for a,b in x:
  print(a)

1
2
5