<a href="https://colab.research.google.com/github/faspy/monty_python/blob/master/01_SF_Salaries_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [38]:
df = pd.read_csv('Salaries.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3,4,5,6,10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

** Check the head of the DataFrame. **

In [39]:
df.head()

  Id       EmployeeName  ...         Agency Status
0  1     NATHANIEL FORD  ...  San Francisco    NaN
1  2       GARY JIMENEZ  ...  San Francisco    NaN
2  3     ALBERT PARDINI  ...  San Francisco    NaN
3  4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4  5    PATRICK GARDNER  ...  San Francisco    NaN

[5 rows x 13 columns]

** Use the .info() method to find out how many entries there are.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40801 entries, 0 to 40800
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                40801 non-null  object
 1   EmployeeName      40800 non-null  object
 2   JobTitle          40800 non-null  object
 3   BasePay           40800 non-null  float64
 4   OvertimePay       40800 non-null  float64
 5   OtherPay          40799 non-null  float64
 6   Benefits          1 non-null      float64
 7   TotalPay          40800 non-null  float64
 8   TotalPayBenefits  40800 non-null  float64
 9   Year              40799 non-null  float64
 10  Notes             1 non-null      object
 11  Agency            40799 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(8), object(5)
memory usage: 4.0+ MB

**What is the average BasePay ?**

In [6]:
df['BasePay'].mean()

66121.77088578526

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [144]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [147]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [148]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [152]:
df.iloc[df['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 159092, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [194]:
df_new = df[df['BasePay']!='Not Provided']
df_new = df_new.dropna(subset=['BasePay'])
df_new['BasePay'] = df_new['BasePay'].astype(float)
df_new.groupby('Year').mean()['BasePay']

Year
2011.0    58575.653178
2012.0    65436.406857
2013.0    69630.030216
2014.0    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [76]:
df['JobTitle'].nunique()

2160

** What are the top 5 most common jobs? **

In [195]:
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
TRANSIT OPERATOR                2988
Public Svc Aide-Public Works    2518
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [199]:
sum(df[df['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [215]:
def upper_string(title): 
    if 'CHIEF' in title.upper().split():
      return True
    else:
      return False

sum(df['JobTitle'].apply(lambda x: upper_string(x)))

#sum(df['JobTitle'].str.contains('Chief'))

486

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [220]:
df['title_len'] = df['JobTitle'].apply(len)

df[['JobTitle','title_len']]


df[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.032605
title_len                -0.032605   1.000000

# Great Job!