<a href="https://colab.research.google.com/github/faspy/monty_python/blob/master/covid_cases_dataset2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
#Importing libraries and checking file structure/data types
import pandas as pd
covid_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
covid_cases.head()
covid_cases.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
9/12/20             int64
9/13/20             int64
9/14/20             int64
9/15/20             int64
9/16/20             int64
Length: 243, dtype: object

In [128]:
#Creating countries dataset
countries_df = {'Country':['Brazil','Mexico','Colombia','Peru','Argentina','Paraguay','Uruguay','Bolivia','Chile','Puerto Rico','Trinidad and Tobago',
'Guatemala','El Salvador','Honduras','Nicaragua','Panama','Venezuela','Cuba','Ecuador','Costa Rica','Suriname','Guyana',
'French Guiana','Dominican Republic','Haiti','Jamaica','Belize','Anguilla','Antigua and Barbuda','Aruba','Bahamas','Barbados',
'Bermuda','Bonaire, Sint Eustatius and Saba','British Virgin Islands','Cayman Islands','Curacao','Dominica','Falkland Islands (Islas Malvinas)',
'Grenada','Guadeloupe','Martinique','Montserrat','Netherlands Antilles','Saint Barthelemy','Saint Kitts and Nevis','Saint Lucia','Saint Martin (French part)',
'Saint Vincent and the Grenadines','Saint Maarten (Dutch part)','Turks and Caicos Islands','Virgin Islands'],

'Sub':['SEDA','SEM','SAMCOL','SEPR','SEASA','SEASA','SEASA','SECH','SECH','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA',
'SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA','SELA',
'SELA','SELA','SELA','SELA','SELA','SELA','SELA'],

'Branch':['Brazil','Mexico','Colombia','Peru','Argentina','Paraguay','Uruguay','Bolivia','Chile','Miami','Miami','Guatemala','Guatemala','Guatemala','Guatemala','Panama',
'Panama','Panama','Panama','Panama','Panama','Panama','Panama','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic',
'Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic',
'Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic',
'Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic','Dominican Republic']
}

countries = pd.DataFrame(countries_df, columns = ['Country', 'Sub','Branch','Region'])

countries['Region'] = 'LATAM'

countries.head(10)

       Country     Sub     Branch Region
0       Brazil    SEDA     Brazil  LATAM
1       Mexico     SEM     Mexico  LATAM
2     Colombia  SAMCOL   Colombia  LATAM
3         Peru    SEPR       Peru  LATAM
4    Argentina   SEASA  Argentina  LATAM
5     Paraguay   SEASA   Paraguay  LATAM
6      Uruguay   SEASA    Uruguay  LATAM
7      Bolivia    SECH    Bolivia  LATAM
8        Chile    SECH      Chile  LATAM
9  Puerto Rico    SELA      Miami  LATAM

In [129]:
#Transforming data
covid_cases['Country/Region'].replace('"','')
covid_cases.loc[covid_cases['Country/Region']=='Korea, South','Country/Region']  = 'South Korea'

#Removing unutilized columns
covid_cases.pop('Lat')
covid_cases.pop('Long')
covid_cases.pop('Province/State')

#Transposing matrix
df1 = pd.melt(covid_cases,id_vars='Country/Region',value_name='cases')

#Renaming dataset columns
df1.rename(columns={"variable":"date","Country/Region":"Country"},inplace=True)

#Converting column to date type
df1['date'] = pd.to_datetime(df1['date'])

#Joining data
covid = df1.merge(countries, on='Country')

#Grouping/Aggregating Rows
covid = covid.groupby(by=['Region','Sub','Branch','Country','date',]).sum()

#Filtering values equals to zero
covid = covid.loc[covid['cases']!=0]

covid.head(10)

                                            cases
Region Sub    Branch   Country  date
LATAM  SAMCOL Colombia Colombia 2020-03-06      1
                                2020-03-07      1
                                2020-03-08      1
                                2020-03-09      1
                                2020-03-10      3
                                2020-03-11      9
                                2020-03-12      9
                                2020-03-13     13
                                2020-03-14     22
                                2020-03-15     34

In [130]:
#Downloading datasets
covid.to_csv('covid_cases.csv')
countries.to_csv('countries.csv')